
header{
    position: absolute;
    width: 100%;
    display: flex;
    text-align: center;
    z-index: 10;
}

.salon-name{
    padding-top: 68px;
    padding-left: 77px;
    padding-right: 20px;
    font-size: 38px;
}

.salon-nav{
    font-size: 18px;
}

.salon-nav ul{
    display: flex;
    padding-top: 77px;
    font-weight: bold;
} 

.salon-nav ul .menu-title{
    color: #000000;
    padding-right: 21px;
    display: inline-block;
}

.salon-nav ul .menu-title:after{
    width: 48px;
    content:"";
    border-bottom: 1px solid #000000;
    display: block;
    position: relative;
}

.concept-title{
    width: 99px;
    height: 40px;
}

.access-title{
    width: 83px;
    height: 40px;
}

.reserve-title{
    width: 97px;
    height: 18px;
}

.salon-nav ul li:nth-child(n+2){
    color: #707070;
    margin-right: 21px;
}

#first-v{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
}

.first-v-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.first-v-title{
    width: 330px;
    text-align: center;
    font-size: 38px;
    white-space: nowrap;
}

.first-v-word{
    letter-spacing: 3.8px;
    width: 390px;
    height: 130px;
    padding-top: 50px;
    text-align: center;
    font-size: 38px;
}

.women{
    width: 80%;
    height: 100%;
}
/* 共通部分 */

.title-b{
    display: flex;
    color: #707070;
    font-size: 18px;
    height: 24px;
    justify-content: left;
    align-items: center;
    text-align: center;
    padding-top: 270px;
    padding-left: 105px;
}

.title-b::after{
    width: 99px;
    content: "";
    border-top: 1px solid #707070;
    display: inline-block;
    margin-left: 23px;
}

#concept{
    background: linear-gradient(#A193861F 50%,#A1938689 50%);
    width: 100%;
}


.concept-wrap{
  display: flex;
  justify-content: center;
}

.concept-img{
    width: 90%;
    text-align: center;
}

.salon1{
    width: 60%;
    height: 100%;
    object-fit: cover;
}

.salon5{
    width: 30%;
    height: 100%;
    object-fit: cover;
}


.concept-content{
    display: flex;
    justify-content: center;
    width: auto;
}

.concept-title2{
    color: #fff;
    font-size: 40px;
    white-space: nowrap;
    margin: 100px;
}

.concept-word{
    width: 422px;
    color: #fff;
    font-size: 16px;
    padding-top: 69px;
    padding-bottom: 64px;
}

.inner{
    width: 100%;
    margin: 0 auto;
}

.menu-wrap{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
        
.menu-item{
    width: 275px;    
}

.menu-img{
    width: 100%;
    height: 270px;
}

.menu-img img{
    width: 100%;
    height: 100%;
}


.menu-title2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    font-weight: bold;
    font-size: 30px;
    color: #000000;
}

.menu-content{
    padding: 0 10px 50px 10px;
    text-align: center;
    font-size: 16px;
}

.menu-price{
    padding-bottom: 70px;
    text-align: right;
    font-weight: bold;
    font-size: 16px;
}

#access{
    width: 100%;
    background-color: #A193861F;
}

.access-all{
    display: flex;
    padding-bottom: 70px;
}

.access-wrap{

    width: 40%;
    height: 400px;
    background-color: #D0C5BA;
}

.google-map{
    height: auto;
    width: 60%;
}

.google-map-iframe{
    width: 100%;
    height: 100%;
}

.access-title2{
    font-size: 24px;
    color: #00000038;
    font-weight: bold;
    padding-top: 100px;
    padding-left: 105px;
}

.access-comment{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 30px 200px 105px 105px;
}

.access-text{
    padding-bottom: 20px;
}

.access-number{
    padding-bottom: 20px;
}

.access-time{
    padding-bottom: 20px;
}


footer{
    width: 100%;
    height: 350px; 
}

.foot{
    height: 50%;
    width: 80%;
    border-bottom: solid #70707036;
    margin: 80px 110px;
}

.icon{
    height: 25%;
    display: flex;
    justify-content: end;
    }

.icon2{
    padding-top: 10px;
    width: 221.4px;
    display: flex;
}

.salon-name2{
    font-size: 32px;
    color: #7070704D;
    padding-left: 7%;
}

.size{
    padding-left: 25px;
    font-size: 1.5em;
}

.size2{
    font-size: 1.5em;
    padding-left: 10px;
}


button{
    width: 184px;
    height: 40px;
    font-size: 18px;
    border: 1px solid #707070;
    color: #707070;
    margin: 0 10% 0 auto;
}

@media screen and (max-width:376px){
    * {
        float: none;
        position: static;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }

    header{
        display: flex;
        justify-content: space-around;
        background-color: #fff;
        height: 10%;
    }

    .salon-name{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        font-size: 22px;
    }

    .salon-nav ul{
        padding: 0;
    }

    .salon-nav{
        display: none;
    }
    .hum{
        width: 16px;
        height: 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    span{
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: #000;
        z-index: 20;
    }

    .women{
        width: 100%;
    }
    .salon3{
        width: 376px;
        height: 100%;
    }
}
